{% extends 'base.html.twig' %}

{% block title %}The District | Panier
{% endblock %}

{% block body %}
	<div class="container-fluid ctn_plats_cat mb-2 ">
		<h1>Commande</h1>
	</div>
	<section class="container d-flex">

		<div class="mt-2 col-4">
			<table class="table table-light col-4">
				<thead>
					<tr>
						<th>Plat(s)</th>
						<th>Quantité</th>
						<th>Prix Unitaire</th>
						<th>TTC</th>
					</tr>
				</thead>
				<tbody>
					{% for plat in panier.panier %}
						<tr>

							<td>{{plat.0.libelle}}</td>
							<td>{{plat.1}}</td>
							<td>{{plat.0.prix}}€</td>
							<td>{{ plat.2 }}€</td>

						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>

		<div class="mt-2 col-6">
			<table class="table table-light ">
				<thead>
					<tr>
						<th>Nom/Prenom</th>
						<th>Email</th>
						<th>Telephone</th>
					</tr>
				</thead>
				<tbody>

					<tr>
						<td>{{user.nom}}{{user.prenom}}</td>
						<td>{{user.email}}</td>
						<td>{{user.telephone}}</td>
					</tr>

				</tbody>
			</table>

			{# {% set prixTotal = 0 %}
						{% for plat in panier %}
							{% set prixTotal = prixTotal + (plat.0.prix * plat.1) %}
						{% endfor %} #}
			{{form(form)}}
				<prix class="card">
					<h4>Prix Total a payer :<h1>{{panier.total}}€</h1>
					</h4>
				</prix>

				<a href="{{path ('listPanier')}}" class="btn btn-primary btn-link">Retour</a>
				<a href="#" class="btn btn-primary btn-link">Payer</a>
			</tbody>
		</section>
	{% endblock %}
