{% extends 'base.html.twig' %}

{% block title %}The District | Accueil{% endblock %}

{% block body %}
    <video  width="100%"  class="d-none d-md-flex" loop autoplay muted>
        <source src="{{asset ('img/images_the_district/restaurant.mp4')}}" type="video/mp4">
    </video>

    <ul>
    {% for categorie in categories %}
    <li>{{categorie.libelle}}</li>
        <img class='card-img-top' src="{{asset('/img/images_the_district/category/' ~ categorie.image)}}" alt="{{ categorie.libelle }}">
        <a href="{{ path('plats_cat', {'libelle': categorie.libelle}) }}" class="btn btn-link">Voir les plats -></a>
    {% endfor %}
</ul>

    <ul>
        {% for plat in plats %}
            <li>{{plat.libelle}}</li>
            <img class='card-img-top' src="{{asset('/img/images_the_district/food/' ~ plat.image)}}" alt="{{ plat.libelle }}">
        {% endfor %}
    </ul>
{% endblock %}
