{% extends 'base.html.twig' %}

{% block title %}The District | Plat
{% endblock %}

{% block body %}

	<div class="container-fluid ctn-title mb-2 ">
		<h1>PLATS</h1>
	</div>

	<div class="ctn_text mb-2">
		<div class="container">

			<div id="presentation_plat" class="style_text"></div>

		</div>
	</div>

	<h3>Voici Tout Nos Plats</h3>

	<section class="ctn_categories row mb-4 d-flex justify-content-around m-0 p-0">
		{% for plat in plats %}
			<div class="card col-10 col-sm-6 col-md-3 p-0 mx-1">
				<img class="p-0 m-0 img-categories" src="{{ asset ('/img/images_the_district/food/' ~ plat.image) }}" alt="{{ plat.libelle }}">
				<div class="card-body">
					<h2>{{ plat.libelle }}</h2>
					<p>{{ plat.description }}</p>
					<h5>{{ plat.prix }}
						€</h5>
					<a class="btn btn-primary btn-link" href="{{path ('addPanier',{'id': plat.id}) }}">Ajouter au panier</a>
				</div>
			</div>
		{% endfor %}
	</section>
{% endblock %}
